/* PHASE 3: Layout */

.content {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  display: flex;
  width: 900px;
  margin: 0 auto;
}

.content-main {
  width: 75%;
  min-height: 200px;
  padding: 20px;
}

.content-sidebar {
  border-right: 1px solid #ccc;
  width: 25%;
  min-height: 200px;
  padding: 20px;
}
